.container{
    background-image: url(../../assets/subscribebgnew.png);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 65.10%, rgba(0, 0, 0, 0.00) 100%), url(../../assets/subscribebg.png),  #0E0E0E; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 270px;
    display: flex;
    justify-content: center;
  
} 
.set{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
 
    justify-content: center;
    text-align: left;
  
  
  
}
.set>:nth-child(1){
    color: var(--white, #FFF);
font-size: 30px;
letter-spacing: -0.6px;
}
.set>:nth-child(2){
    color: #FFF;
font-size: 18px;
line-height: 29px; /* 161.111% */
letter-spacing: 0.36px;
width: 50%;
}
.wrap{
    width: 100%;
   
}

.inpsubscribe{
    border-radius: 20px;
border: 1px solid #FFF;
background: #D9D9D9;
width: 35%;
height: 38px;
padding-left: 17px;
outline: none;
}
.subscribe{
    border-radius: 20px;
background: var(--light-orange, #F48A37);
width: 127.5px;
height: 40px;
flex-shrink: 0;
border: none;
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.36px;
text-transform: uppercase;
margin-left: -38px;

font-family: nunito;
}
.subscribe:hover{
   
    color: var(--orange);
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 211px;
        background-image: url(../../assets//subscribebgmobile.png);
        background-size: cover;
        background-position: center;
    }
    .set{
        width: 95%;
        margin-left: 5%;
    }
    .set>:nth-child(1){
  
font-size: 16px; 

font-weight: 400;
letter-spacing: -0.32px;
    }
    .set>:nth-child(2){
        color: #FFF;

font-size: 14px;

font-weight: 300;
line-height: normal;
letter-spacing: 0.28px;
width: 70%;
    }



    
    .inpsubscribe{
        border-radius: 10px;
    border: 1px solid #FFF;
    background: #D9D9D9;
    width: 56%;
    height: 32px;
    }
    .wrap{
     
        width: 100%;
    }
   
    .subscribe{
       
        border-radius: 10px;
        height: 33px;
        width: 80px;
        font-size: 12px;
        /* margin-top: -1px; */
       
    }
}
