.container{
    background-color: var(--background);
    color: goldenrod;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2% 0;
}
.div1>:nth-child(1){
    color: var(--drak-orange, #ED7638);
font-size: 30px;
font-weight: 600;

}
.div2>:nth-child(1){
    color: #808080;
text-align: center;
font-size: 18px;
text-transform: capitalize;

}




.div3{
    height: 455px;
    width: 60%;
    border-radius: 20px;
background: rgba(12, 12, 12, 0.50);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
backdrop-filter: blur(10px);
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
padding: 2% 1%;
}
.set{
    display: flex;
    justify-content: space-between;
}
.lastset{
    display: flex;
    flex-direction: column;
}
.line{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 44%;
}
.line>label{
    color: #D9D9D9;

font-size: 20px;

font-weight: 600;
line-height: 150%; /* 30px */
text-transform: capitalize;
}
.contactinp{
    border-radius: 10px;
background: rgba(68, 68, 68, 0.50);
border: none;
height: 44px;
width: 280px;
padding: 1% 2%;


}
.selectinput{
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.50);
    border: none;
    height: 44px;
    width: 280px;
    color: #808080;


}
.messageinp{
    border-radius: 10px;
background: rgba(68, 68, 68, 0.50);
border: none;
height: 88px;
width: 560px;
}
.opt{
    background-color: rgb(18, 18, 17);
  
    width: 100px;
    color: #FFF;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}